<% if flash[:notice] -%>
  <div id="notice" class="notice"><%= flash[:notice] %></div>
<% end %>
<div id="login">
	
	<h1><%= current_account.name %></h1>
	<br/>
	<div id="login_dialog" class="login_dialog">
		<p>
			<strong>¿No puedes ingresar u Olvidaste tu contraseña?</strong>
			<br/>
			Ingresa tu dirección de email y te enviaremos las instrucciones para
			actualizar tu contraseña
		</p>
		<% form_tag(:action => "create") do %>	  
			<h2><%= label_tag "Ingresa tu dirección de e-mail" %></h2>
			<%= text_field_tag :email %>
			<br>
			<%= submit_tag "Enviar instrucciones", :class => "button" %>
		<div class="extras">
			<%= link_to "Volver a intentar", login_url %>
	 </div>
	<% end %>
</div>
<script type="text/javascript">
	//<![CDATA[
		$("#email").focus()
	//]]>
</script>