<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>                                                                                                             
	<head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	</head>

	<body style="font-family:Helvetica, Arial, sans-serif;font-size:14px; margin-left: 20px;
	margin-right: 20px">
		<h3 style="margin-left: 40px"><%= h @account_admin_name %> ha creado una cuenta para ti:</h3>

		<div style="background-color: #E7F1FD; border-top: 1px solid #000; border-bottom: 1px solid #000;">
			<p style="margin: 20px 0px 0px 40px; padding-bottom: 20px">
				Hola <%=h @name %>,
				<br/><br/>
				En <%=h @account_name.titleize %> utilizamos <strong>Folio</strong> para enviar facturas, cotizaciones, y mantener nuestro equipo conectado. Te he creado una cuenta. Puedes ingresar con los siguientes datos:
				<br/><br/>
				URL: <%=h @url %>
				<br/>
				Email: <%=h @user.email %>
				<br/>
				Contraseña: <%= h @password %>
				<br/><br/>
				Avísame si tienes alguna duda.
				<br/><br/>
				<%=h @account_admin_name %>
			</p>
			 <%= render :partial => "footer" %>
		</div>
	</body>
</html>