<div class="comment" id="<%= comment.id %>">
	<div class="float_liner">
		<%= image_tag comment.user_avatar, :class => "avatar" %>
		<div class="indented">
			<div class="comment_header">
				<h4><strong><%= comment.user_name%></strong>, <%= l comment.created_at, :format => :short %></h4>
			</div>
			<div class="comment_body">
				<%= comment.body %>
			</div>
		</div>
	</div>
</div>
