<% if defined?(continuation) %>
  <hr/>
<% end %>
<div class="comment">
  <table>
    <tr>
      <td class="type">
		<% if comment.comment_type_id %>
			<div class="comment_type type_<%= comment.comment_type.name %>">
				<%= comment.comment_type.name %>
			</div>
		<% else %>
			<div class="comment_type type_aviso"></div>
		<% end %>
		<div class="comment_details">
			<%= comment.user.name %></br>
			<%= l comment.created_at, :format => :day_month %>
		</div>
      </td>
      <td class="text">
		<div class="body">	
			<div class="comment_title"><%= link_from_comment(comment, "Fact.") %> <span class="comment_customer_name"> - <%= comment.invoice.customer.name %></span></div>
			
			<div class="comment_text">
				<%= textarea_display(comment.body) %>
			</div>
	  </div>
	  </td>
    </tr>
  </table>
</div>


