<!-- The submit acction is override by invoice.js  -->
<div class="comment">
	<div class="float_liner">
		<%= image_tag current_user.avatar_thumb_url, :class => "avatar" %>
		<div class="indented">
			<div class="comment_header">
				<h4><strong>Comentar...</strong></h4>
			</div>
			<div class="comment_body">
				<% form_for @comment, :url =>{:controller => 'comments'} do |f|%>

				  <%= f.text_area :body, :cols => 60, :rows => 10 %>
				  <%= f.hidden_field :invoice_id, :value => invoice_id %>
				  <%= f.hidden_field :user_id, :value => current_user.id %>
				  
				  <%= render :partial => 'comments/suscribe_users', :locals => {:comment => @comment} %>	
				
				  <%= f.submit "Agregar comentario" %>
				  <%= link_to "Cancelar", invoice_path(invoice_id) %>
				<% end %>
			</div>
		</div>
	</div>
</div>

