<div class="comment">
  <table>
    <tr>
      <td class="deleteLink"><%= link_to "Borrar", history,
          :confirm => "Está seguro qué desea borrar el comentario?", :method => :delete %></td>
      <td class="date"><%= l history.created_at, :format => :short %>
        <% unless history.user_id.nil? %>
          <br/>
          <strong><%= h history.user.name %></strong>
        <%end%>
      </td>
      <td class="text">
		<strong><%= history.subject %></strong>
		<p>
			<%= textarea_display(history.comment) %>
		</p>
	  </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
