<div class="comment">
  <table>
    <tr>
		<% if created_by_current_user?(history)%>
			<td class="deleteLink">
			<%= link_to "Borrar", history,
          		:confirm => "Está seguro qué desea borrar el comentario?", 
					:method => :delete %>
		<% else %>
				<td class="deleteLink_empty">
		<% end %>
		</td>
      <td class="type">
		<% if history.history_type_id %>
			<%= history.history_type.name %>
		<% else %>
			<div class="no_history_type">No Type</div>
		<% end %>
      </td>
      <td class="text">
		<div class="body">
		<strong><%= history.subject %></strong>
		<p>
			<%= textarea_display(history.comment) %>
		</p>
			<% unless history.user_id.nil? %>
				<span><%= h(history.user.nil? ? "" : history.user.name) %></span>, 
		    <%end%>
			<span class="date"> <%= distance_of_time_in_words(Time.now, history.created_at) %></span>
	  </div>
		<div class="avatar">
	 	<%= image_tag history.user.avatar.url(:thumb), :class => "avatar" unless history.user.nil? %>
		</div>
	  </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
