<% invoice = @invoice %>
<% search = @search %>

<% if params[:action].eql?("active") %>
  <div class="cancel_button span-4 last">
    <%= link_to "Cancelar", invoices_path %>
  </div>
  <hr/>
  <!-- Invoice#NEW -->
<% elsif params[:action].eql?("new") %>
  <div class="cancel_button span-4 last">
    <%= link_to "Cancelar", invoices_path %>
  </div>
  <hr/>
  <div class="toolbox secondary">

  </div>

  <!-- Invoice#SHOW -->
<% elsif params[:action].eql?("show") %>
  <div class="span-4 last">
    <div class="new_invoice_button">
      <%= link_to "Nueva Factura", new_invoice_path %>
    </div>


    <!--- TODO: Corregir!!!! -->
     <% if invoice.status_id == 5 %>
     	<div class="status due">
           <%= number_to_currency(invoice.total, :unit => "$ ", :delimiter => ".", :precision => 0) %><br/>
             <%= "Vencida" %>
	<% else %>
      <div class="status <%= invoice.status_state %> ">
            <%= number_to_currency(invoice.total, :unit => "$ ", :delimiter => ".", :precision => 0) %><br/>
              <%= invoice.status_name %>
	<% end %>
          </div>

         <%= render :partial => "invoice_menu", :locals => {:invoice => invoice } %>

        </div>
      </div>

      <!-- Invoice#EDIT -->
    <% elsif params[:action].eql?("edit") || (invoice && invoice.errors) %>
      <div class="cancel_button span-4 last">
		<% if invoice.id %>
        	<%= link_to "Cancelar", invoice_path(invoice) %>
		<% else %>
			<%= link_to "Cancelar", invoices_path() %>
		<% end %>
      </div>

      <!-- Invoice#INDEX -->
    <% else %>
      <div class="new_invoice_button">
        <%= link_to "Nueva Factura", new_invoice_path %>
      </div>
	<br/>
	<div>
		<%= render :partial => "resume_totals" %>
	</div>
		<br/>
		<% if current_account.has_invoice_tags? %>
			<div id="filter">
			<h4>Filtrar Tags</h4>
			<br/>
			<hr/>
				<% form_for "", :url => {:action => "index"}, :html => {:method => :get } do |f| -%>
	  				<%= f.select :tagged_with, current_account.invoice_tags,{ 
						:include_blank => true}, {:style => "width: 160px", :onchange => "this.form.submit()"} %>
				<% end %>
				<br/>
		   </div>
	   <% end %>
	  <br/>
		<div>
		<h4>Búsqueda Rápida</h4>
		<br/>
		<hr/>
			<div id="number_search">
				<% form_for search, :url => {:action => "search" } do |f| -%>
	  				<%= f.text_field :number_equals, :style =>"width: 150px" %>
					<%= f.submit "Buscar" %> <%= link_to "Cancelar", invoices_path() %>
				<% end %>
			</div>
		<br/>
		<br/>
		</div>
      
    <% end %>
