<div class="last">

 <div class="paginate last right">
	<% if invoices.total_pages > 1 %>
    	<%= will_paginate invoices, :next_label => "Siguiente »", 
			:previous_label => "« Anterior", :params => {:status => @status} %>
		
	<% else %>
		<br/>
	<% end %>
 </div>

</div>
 



<table class="invoice_list draft">
<tr>
	<th class="unitHeader" style="width:15%;"><%= sortable "number", "Número", status %></th>
    <th class="descriptionHeader">Detalles</th>
    <th class="totalHeader" style="width:30%;"><%= sortable "total", "Total", status %></th>
</tr>


<% invoices.each do |invoice| %>

<tr class="fields" onclick="location.href='/invoices/<%= invoice.id %>'" >
	
	<td style="width:15%;">
		<strong><%= link_to "NUM-"+invoice.number.to_s, invoice_path(invoice.id) %></strong><br/>
		<span class="<%= invoice.state %>_result">
		<% if invoice.status_id == 5 %>
			<%= "vencida" %>
		<% else %>
			<%= invoice.status.name.downcase %></span>
		<% end %>
	</td>
	<td>
		<strong><h4><%= invoice.customer.name %></h4></strong><br/>
		<% if invoice.subject %>
		  <%= invoice.subject %><br/>
		<% end %>
		<br/>
		<span class="draft_result">Fecha: </span><%= l invoice.date, :format => :short %>
		&nbsp;&nbsp;&nbsp;
		<% if invoice.status_id == 5 %>
		 <span class="due_result">Atrasada: </span><%= invoice.due_days.to_s+" días" %>
		<% elsif invoice.status_id == 3 %>
		  <span class="draft_result">Pagada: </span><%= l invoice.close_date, :format => :short %>
		<% else %>
		  <span class="draft_result">Vence: </span><%= l invoice.due, :format => :short %>
		<% end %>
		<br/>
	</td>
	<td class="item-total">
		<%= number_to_currency(invoice.total, :unit => "$", :delimiter => ".", :precision => 0) %>
	</td>

</tr>
<tr>
	<% 3.times do %>
  		<td style="padding-right: 0px; padding-left: 0px"><hr/></td>
	<% end%>
</tr>
<% end %>
</table>
<div class="paginate last right">
    	<%= will_paginate invoices, :next_label => "Siguiente »", 
			:previous_label => "« Anterior", :params => {:status => @status} %>
 </div>
