
<div class="paginate last">
    <%= will_paginate invoices, :next_label => "Siguiente »", 
		:previous_label => "« Anterior", :params => {:status => @status} %>
</div>

<table class="invoice_list <%= status %> ">
<tr>
	<% if params[:controller] == "customers" || params[:action] == "search" %>
	<th class="qtyHeader"><%= sortable "status_id", "Estado", status %></th>
	<% else %>
  <th class="qtyHeader"><%= sortable "number", "Número", status %></th>
   <% end %>
   <% if params[:controller] == "customers" || params[:action] == "search"%>
		<th class="unitHeader"><%= sortable "number", "Número", status %></th>
	<%else%>
  		<th class="unitHeader"><%= sortable "date", "Emitida", status %></th>
	<% end %>
	<% if params[:controller] == "customers" || params[:action] == "search" %>
		<th class="descriptionHeader"><%= sortable "date", "Emitida", status %></th>
	<% else %>
  		<th class="descriptionHeader">Cliente</th>
	<% end %>
	<% if params[:controller] == "invoices" && params[:action] == "search" %>
	  <th class="descriptionHeader">Cliente</th>
	<% end %>
  <th class="titleHeader">Asunto</th>
  <% if status == "due" %>
    <th class="priceHeader"><%= sortable "due", "Atrasada", status %></th>
  <% elsif status == "close" %>
    <th class="priceHeader">Pagada</th>
  <% else %>
    <th class="priceHeader"><%= sortable "due", "Vence", status %></th>
  <% end %>
  <th class="totalHeader">Total</th>
</tr>


<% invoices.each do |invoice| %>

<tr class="fields" onclick="location.href='/invoices/<%= invoice.id %>'" >
  <% if params[:controller] == "customers" || params[:action] == "search" %>
    <td><%= invoice.status.name unless invoice.status.nil? %></td>
  <% end %>
  <td><%= invoice.number.nil? ? "S/N" : invoice.number  %> </td>
  <td><%= l invoice.date, :format => :short %> </td>
  <% unless params[:controller] == "customers" %>
    <% if invoice.customer.name.size > 20 %>
      <td title="<%= invoice.customer.name %>"><%= invoice.customer.name[0,15]+"..."  %></td>
    <% else %>
	  <td><%= invoice.customer.name %></td>
	<% end %>
  <% end %>
    <% subject = invoice.subject.nil? ? "" : invoice.subject %>
	<% if subject.size > 20 %>
    <td title="<%= subject %>"><%= subject[0,15]+"..."  %></td>
  <% else %>
	  <td><%= subject %></td>
	<% end %>

  <% #status |= nil unless !status.nil? %>
  <% if(defined? status) then %>
    <% if status == "due" %>
      <td><%= invoice.due_days.to_s+" días" %> </td>
    <% elsif status == "close" %>
      <td><%= l invoice.close_date, :format => :short %> </td>
    <% else %>
    <td><%= l invoice.due, :format => :short unless invoice.due.nil? %> </td>
    <% end %>
  <% else %>
    <td><%= l invoice.due, :format => :short unless invoice.due.nil? %> </td>
  <% end %>

  <td class="item-total"><%= number_to_currency(invoice.total, :unit => "$", :delimiter => ".", :precision => 0) %> </td>
</tr>
<tr>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <% if params[:controller] == "invoices" && params[:action] == "search" %>
	<td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <% end %>
  <% unless params[:action] == "show" && params[:controller] == "invoices" %>
	  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <% end %>
</tr>
<% end %>
</table>
<div style="text-align:right; border-top: #000 solid 2px; " class="last">
	
   <strong>Total: <%= number_to_currency(invoices.to_a.sum(&:total),
        :unit => "$", :delimiter => ".", :precision => 0) %></strong>
</div>