<% invoice = @invoice %>
<% search = @search %>

<% if params[:action].eql?("active") %>
  <div class="cancel_button span-4 last">
    <%= link_to "Cancelar", invoices_path %>
  </div>
  <hr/>
  <!-- Invoice#NEW -->
<% elsif params[:action].eql?("new") %>
  <div class="cancel_button span-4 last">
    <%= link_to "Cancelar", invoices_path %>
  </div>
  <hr/>
  <div class="toolbox secondary">

  </div>

  <!-- Invoice#SHOW -->
<% elsif params[:action].eql?("show") %>
  <div class="span-4 last">
    <div class="new_invoice_button">
      <%= link_to "Nueva Factura", new_invoice_path %>
    </div>


    <!--- TODO: Corregir!!!! -->
     <% if invoice.status_id == 5 %>
     	<div class="status due">
           <%= number_to_currency(invoice.total, :unit => "$ ", :delimiter => ".", :precision => 0) %><br/>
             <%= "Vencida" %>
	<% else %>
      <div class="status <%= invoice.status_state %> ">
            <%= number_to_currency(invoice.total, :unit => "$ ", :delimiter => ".", :precision => 0) %><br/>
              <%= invoice.status_name %>
	<% end %>
          </div>

          <ul class="toolbox secondary">
            <li id="send_invoice"><%= link_to "<strong>Enviar</strong> factura" %></li>
			<% if invoice.draft? %>
            	<li id="edit_invoice"><%= link_to "<strong>Editar</strong> factura",	edit_invoice_path(invoice) %></li>
			<% end%>
            <li id="print_invoice"><%= link_to "<strong>Imprimir</strong> factura" %></li>
            <% if invoice.draft? %>
              <li id="convert_invoice"><%= link_to "<strong>Activar</strong> factura", active_invoice_path(invoice), :confirm => "Está seguro que desea Activar la factura, revisó que los datos fueran correctos?" %></li>
			<% elsif invoice.cancellable? %>
			  <li id="receive_payment"><%= link_to "<strong>Recibir</strong> pago", close_invoice_path(invoice) %></li>
			  <li id="delete_invoice"><%= link_to "<strong>Anular</strong> factura", cancel_invoice_path(invoice), 
			:confirm => "Está seguro que desea Anular la factura?" %></li>
            <% end %>
            <li id="duplicate_invoice"><%= link_to "<strong>Duplicar</strong> Factura", new_invoice_path(:id => invoice.id, :duplicate => true) %></li>
            <% if invoice.draft? %>
              <li id="delete_invoice"><%= link_to "<strong>Borrar</strong> factura", invoice,
                  :confirm => "Está seguro?", :method => :delete %></li>
            <% end %>
            <li id="download_invoice"><%= link_to "<strong>Bajar</strong> como PDF" %></li>
          </ul>

        </div>
      </div>

      <!-- Invoice#EDIT -->
    <% elsif params[:action].eql?("edit") || (invoice && invoice.errors) %>
      <div class="cancel_button span-4 last">
		<% if invoice.id %>
        	<%= link_to "Cancelar", invoice_path(invoice) %>
		<% else %>
			<%= link_to "Cancelar", invoices_path() %>
		<% end %>
      </div>

      <!-- Invoice#INDEX -->
    <% else %>
      <div class="new_invoice_button">
        <%= link_to "Nueva Factura", new_invoice_path %>
      </div>
	<br/>
	<div>
		<h4>Totales</h4>
		<br/><hr/>
        <table class="invoice_resume">
          <tr class="draft">
            <td><span class="draft_title">Borrador</span></td><td style="text-align: right"><%= number_to_currency(Invoice.draft_total(current_account.id, params[:search])) %></td>
          </tr>
          <tr class="due">
            <td><span class="due_title">Vencidas</span></td><td style="text-align: right"><%= number_to_currency(Invoice.due_total(current_account.id, params[:search])) %></td>
          </tr>
          <tr  class="open">
            <td><span class="open_title">Activas</span></td><td style="text-align: right"><%= number_to_currency(Invoice.open_total(current_account.id, params[:search])) %></td>
          </tr>
		  <!-- Todo:: Solo por documentacion
          <tr  class="close" onclick="location.href=location.href+'?status=close_index'">-->
	      <tr  class="close">	
            <td><span class="close_title">
		  <% if params[:action] == "index" %>
				Pagadas
		   <% else %>
				Pagadas
		   <% end %>
				</span></td><td style="text-align: right"><%= number_to_currency(Invoice.close_index_total(current_account.id, params[:search])) %></td>
			</tr>
        </table>
		</div>
		<br/>
		<div id="filter">
		<h4>Filtrar Facturas</h4>
		<br/>
		<hr/>
			<% form_for search, :url => {:action => "search" } do |f| -%>
  				<%= f.select :date_gte, Invoice.date_filter,{:prompt => "Emitida hace...", 
					:include_blank => true}, {:style => "width: 160px"} %>
				<br/>
				<%= f.check_box(:taxed, :checked => true)%><%= f.label "Afecta" %>
				<br/><br/>
				<%= f.submit "Buscar" %> <%= link_to "Cancelar", invoices_path() %>
			<% end %>
			<br/>
	  </div>
	  <br/>
		<div>
		<h4>Búsqueda Rápida</h4>
		<br/>
		<hr/>
			<div id="number_search">
				<% form_for search, :url => {:action => "search" } do |f| -%>
	  				<%= f.text_field :number_equals, :style =>"width: 150px" %>
					<%= f.submit "Buscar" %> <%= link_to "Cancelar", invoices_path() %>
				<% end %>
			</div>
		<br/>
		<br/>
		</div>
      
    <% end %>
