<tr class="fields">
  <td class="item-quantity"><%= invoice_item.quantity %> </td>
  <td><%= invoice_item.product.name %> </td>
  <td><%= textarea_display(invoice_item.description) %> </td>
  <td class="item-price"><%= number_to_currency(invoice_item.price, :unit => "$ ", :delimiter => ".", :precision => 0) %> </td>
  <td class="item-total"><%= number_to_currency(invoice_item.total, :unit => "$", :delimiter => ".", :precision => 0) %> </td>
</tr>