<ul class="toolbox secondary">
    <li id="send_invoice"><%= link_to "<strong>Enviar</strong> factura" %></li>
    <li id="edit_invoice"><%= link_to "<strong>Editar</strong> factura",	edit_invoice_path(invoice) %></li>
    <% if invoice.draft? %>
      <li id="convert_invoice"><%= link_to "<strong>Activar</strong> factura", active_invoice_path(invoice), :confirm => "Est치 seguro que desea Activar la factura, revis칩 que los datos fueran correctos?" %></li>
	<% elsif invoice.cancellable? %>
	  <li id="receive_payment"><%= link_to "<strong>Recibir</strong> pago", close_invoice_path(invoice) %></li>
	  <li id="delete_invoice"><%= link_to "<strong>Anular</strong> factura", cancel_invoice_path(invoice), 
	:confirm => "Est치 seguro que desea Anular la factura?" %></li>
    <% end %>
    <li id="duplicate_invoice"><%= link_to "<strong>Duplicar</strong> Factura", new_invoice_path(:id => invoice.id, :duplicate => true) %></li>
    <% if invoice.draft? %>
      <li id="delete_invoice"><%= link_to "<strong>Borrar</strong> factura", invoice,
          :confirm => "Est치 seguro?", :method => :delete %></li>
    <% end %>
</ul>