<div id="invoiceFields">
<fieldset style="padding-bottom: 5px">
 <div class="span-8">
   <table class="fields">
     <tbody>
       <tr>
         <td>
			<span class="required"><%= invoice.label "Nombre de Cliente" %> 
				- o - <%= link_to "Agregar Cliente", new_customer_path() %>
			</span> 
			<br/>
           <%= text_field_tag "", customer.name, :autocomplete => "off", :id => "customer_name_invoice", :class => "input_large", :placeholder => "Escriba el nombre..." %>
         </td>
       </tr>
	   <tr>
         <td>
			<span class="required"><%= invoice.label "Asunto" %></span>
         	<br/>
			<%= invoice.text_field :subject, :class => "input_large", :required => :required %>
		</td>
       </tr>
       <tr>
         <td>
			<div style="float: left; margin-right: 10px">
				<span class="required"><%= invoice.label "Fecha" %></span>
				<br/>
         		<%= invoice.date_field :date, :value => @invoice.date.to_s, :class => "datepicker invoice_small_input", :required => :required, :width => "125px" %>
			</div>
			<div>
					<span><%= invoice.label "Número" %></span>
					<br/>
		         	<%= invoice.number_field :number, :class => "invoice_small_input" %>
			</div>
		</td>
       </tr>
       <tr>
         <td>
			
		</td>
       </tr>
     </tbody>
   </table>
   <%= invoice.hidden_field :customer_id, :value => customer.id  %>
   <!-- El account_id es usado por invoice_form.js para rellenar los tags -->
   <%= invoice.hidden_field :account_id, :value => current_account.id  %>
 </div>
	<div class="span-7 prepend-1 last">
		<table>
		<tr>
	         <td>
				<div style="float: left; margin-right: 50px">
					<span><%= label_tag "Impuesto" %></span><br/>
					<%= invoice.select :tax_id, options_from_collection_for_select(current_account.taxes, 
							:id, :name, @invoice.select_box_tax_id), {:include_blank => true} %>
				</div>
				<div>
					<%= label_tag "Vence"%><br/>
					<%= invoice.collection_select :due, Invoice.due_dates, :value, :text %>
				</div>
		
			</td>
	    </tr>
		<tr>
			<td style="padding-top: 12px">
		<span><%= invoice.label "Tags" %></span>
		</td>
		</tr>
		</table>
		<%= invoice.text_field :tag_list %>
	</div>

</fieldset>
</div>
