<!-- Invoice#NEW -->
<% if params[:action].eql?("new") %>
  <div id="Cancel span-4 last" class="error">
    <%= link_to "Cancelar", invoices_path %>
  </div>

  <!-- Invoice#SHOW -->
<% elsif params[:action].eql?("show") %>
  <div class="span-4 last">
    <div id="newCustomer" class="notice">
      <%= link_to "Nueva Factura", new_invoice_path %>
    </div>

    <% if @invoice.status_id == 1 %>
      <div class="status draft">
      <% else %>
        <div class="status open">
        <% end %>

        <%= number_to_currency(@invoice.total, :unit => "$ ", :delimiter => ".", :precision => 0) %><br/>
        <%= @invoice.status.name %>
      </div>

      <ul class="toolbox secondary">
        <li id="send_invoice"><%= link_to "<strong>Enviar</strong> factura" %></li>
        <li id="edit_invoice"><%= link_to "<strong>Editar</strong> factura", edit_invoice_path(@invoice) %></li>
        <li id="print_invoice"><%= link_to "<strong>Imprimir</strong> factura" %></li>
        <% if @invoice.status_id == 1 %>
          <li id="convert_invoice"><%= link_to "<strong>Activar</strong> factura" %></li>
        <% end %>
        <li id="duplicate_invoice"><%= link_to "<strong>Duplicar</strong> Factura" %></li>
        <% if @invoice.status_id == 2 %>
          <li id="receive_payment"><%= link_to "<strong>Recibir</strong> pago" %></li>
        <% end %>
        <li id="delete_invoice"><%= link_to "<strong>Borrar</strong> factura", @invoice,
            :confirm => "Está seguro?", :method => :delete %></li>
        <li id="download_invoice"><%= link_to "<strong>Bajar</strong> como PDF" %></li>
      </ul>

    </div>
  </div>

  <!-- Invoice#EDIT -->
<% elsif params[:action].eql?("edit") %>
  <div id="Cancel span-4 last" class="error">
    <%= link_to "Cancelar", invoice_path(@customer) %>
  </div>

  <!-- Invoice#INDEX -->
<% else %>
  <div id="newCustomer" class="notice">
    <%= link_to "Nueva Factura", new_invoice_path %>
  </div>
<% end %>

