<tr class="fields" onclick="location.href='/invoices/<%= invoice.id %>'" >
  <% if params[:controller] == "customers" %>
    <td><%= invoice.status.name unless invoice.status.nil? %></td>
  <% end %>
  <td><%= invoice.number.nil? ? "S/N" : invoice.number  %> </td>
  <td><%= l invoice.date, :format => :short %> </td>
  <% unless params[:controller] == "customers" %>
    <% if invoice.customer.name.size > 25 %>
      <td title="<%= invoice.customer.name %>"><%= invoice.customer.name[0,24]+"..."  %></td>
    <% else %>
	  <td><%= invoice.customer.name %></td>
	<% end %>
  <% end %>
    <% subject = invoice.subject.nil? ? "" : invoice.subject %>
	<% if subject.size > 25 %>
    <td title="<%= subject %>"><%= subject[0,23]+"..."  %></td>
  <% else %>
	  <td><%= subject %></td>
	<% end %>

  <% #state |= nil unless !state.nil? %>
  <% if(defined? state) then %>
    <% if state == "due" %>
      <td><%= invoice.due_days.to_s+" días" %> </td>
    <% elsif state == "close" %>
      <td><%= l invoice.close_date, :format => :short %> </td>
    <% else %>
    <td><%= l invoice.due, :format => :short unless invoice.due.nil? %> </td>
    <% end %>
  <% else %>
    <td><%= l invoice.due, :format => :short unless invoice.due.nil? %> </td>
  <% end %>

  <td class="item-total"><%= number_to_currency(invoice.total, :unit => "$", :delimiter => ".", :precision => 0) %> </td>
</tr>
