<%= render :partial => "customers/new_ajax_dialog", :locals => {:customer => customer} %>
<% form_for invoice do |f| %>
  <%= f.error_messages :class => "error" %>
  <%= render :partial => "invoice_fields", :locals => {:invoice => f, :customer => customer} %>

  <table id="newInvoiceItems">
    <tr>
      <th></th>
      <th class="unitHeader">Unidad</th>
      <th class="qtyHeader">Cantidad</th>
      <th class="descriptionHeader">Descripción</th>
      <th class="priceHeader">Precio</th>
      <th class="totalHeader">Total</th>
    </tr>

    <% f.fields_for :invoice_items do |builder| %>
      <%= render :partial => "invoice_item_fields", :locals => {:f => builder, :products => products } %>
    <% end %>
  </table>
  <hr/>
  <div>
	<%= hidden_field_tag "invoice_items_index", invoice.invoice_items.size %>
    <span class="addLink"><%= link_to_add_fields "Agregar línea" ,f, :invoice_items, :products => products %></span>
 </div>

  <div class="last span-18">
    <table id="totals">
      <tr>
        <td class="netLabel">Neto</td>
        <td class="readonly"><%= f.text_field :net,
               :readonly => "readonly", :class => "netPrice"  %></td>
      </tr>
	  <tr id="tax_info" style="<%= sets_visibility_of_element(@invoice.select_box_tax_id) %>">
			<%= render :partial => 'taxes/tax_for_invoice_form', :locals => { :f => f } %>
	  </tr>
      <tr>
        <td class="totalLabel">Total</td>
        <td class="readonly"><%= f.text_field :total,
           :readonly => "readonly", :class => "totalPrice"  %> </td>
      </tr>
    </table>
  </div>

  <div class="last">
    <strong>Más Información</strong> (agregue detalles extra a continuación)
    <hr/>
  <%= f.text_area :comment, :rows => 5, :cols => 98 %>

    <br/>

    <p>Cuando haya terminado, guarde su factura. Luego podrá enviarla.</p>

  </div>

  <br/>
  <%= f.submit "Guardar" %>
  <%= link_to "Cancelar", invoices_path() %>
<% end %>


