<div id="invoiceFields">
<fieldset>
 <div class="span-8">
   <table class="fields">
     <tbody>
       <tr>
         <td><span class="required"><%= invoice.label "Cliente" %></span></td>
         <td class="input_column">
           <%= text_field_tag "", customer.name, :autocomplete => "off", :id => "customer_name_invoice", :class => "input_large", :placeholder => "Escriba el nombre..." %>

         </td>
       </tr>
	   <tr>
         <td><span class="required"><%= invoice.label "Asunto" %></span></td>
         <td class="input_column"><%= invoice.text_field :subject, :class => "input_large", :required => :required %></td>
       </tr>
       <tr>
         <td><span class="required"><%= invoice.label "Fecha" %></span></td>
         <td class="input_column date"><%= invoice.date_field :date, :value => @invoice.date.to_s, :class => "datepicker input_large", :required => :required %></td>
       </tr>
       <tr>
         <td><span><%= invoice.label "Número" %></span></td>
         <td class="input_column"><%= invoice.number_field :number, :class => "input_large" %></td>
       </tr>
     </tbody>
   </table>
   <%= invoice.hidden_field :customer_id, :value => customer.id  %>
   <!-- El account_id es usado por invoice_form.js para rellenar los tags -->
   <%= invoice.hidden_field :account_id, :value => current_account.id  %>
 </div>
	<div class="span-6 prepend-2 last">
		<table>
		<tr>
	         <td><span><%= label_tag "Impuesto" %></span></td>
	         <td class="input_column"><%= invoice.check_box :taxed, :onclick => "enableIVA()" %></td>
	       </tr>
	       <tr>
	         <td><%= label_tag "Vence"%></td>
	         <td class="input_column"><%= invoice.collection_select :due, Invoice.due_dates, :value, :text %></td>
	    </tr>
		<tr>
			<td>
		<span><%= invoice.label "Tags" %></span>
		</td>
		</tr>
		</table>
		<%= invoice.text_field :tag_list %>
	</div>

</fieldset>
</div>
