<tr class="fields">
  <td class="deleteLink" ><%= link_to_remove_fields "remove", f %>
  <td><%= f.collection_select(:product_id, Product.all, :id, :name) %> </td>
  <td><%= f.text_field :quantity, :size => 4, :onchange => "itemQuantityChanged(this)",
      :class => "item-quantity"%></td>
  <td><%= f.text_area :description, :rows => 2, :cols => 30,
      :class => "item-description" %></td>
  <td><%= f.text_field :price, :size => 13, :onchange => "itemPriceChanged(this)",
      :class => "item-price" %></td>
  <td class="readonly"><%= f.text_field :total, :size => 9,  :readonly => 'readonly',
      :class => "item-total" %></td>

</tr>