<h4>Totales</h4>
<br/><hr/>
<table class="invoice_resume">
  <tr class="draft">
    <td><span class="draft_title">Borrador</span></td><td style="text-align: right"><%= number_to_currency(Invoice.totals(@all_invoices.draft)) %></td>
  </tr>
  <tr class="due">
    <td><span class="due_title">Vencidas</span></td><td style="text-align: right"><%= number_to_currency(Invoice.totals(@all_invoices.due)) %></td>
  </tr>
  <tr  class="open">
    <td><span class="open_title">Activas</span></td><td style="text-align: right"><%= number_to_currency(Invoice.totals(@all_invoices.active)) %></td>
  </tr>
  <!-- Todo:: Solo por documentacion
  <tr  class="close" onclick="location.href=location.href+'?status=close_index'">-->
  <tr  class="close">	
    <td><span class="close_title">
	Pagadas: 
  <% if params[:action] == "search" %>
		</span></td><td style="text-align: right"><%= number_to_currency(Invoice.totals(@all_invoices.close)) %></td>
   <% else %>
		</span></td><td style="text-align: right"><%= number_to_currency(Invoice.totals(@all_invoices.close_index)) %></td>
   <% end %>
	</tr>
</table>