<fieldset>
<!-- Busqueda directa x Numero de Factura -->
<% form_for search, :url => {:action => "search" } do |f| -%>
  <table class="search">
	  <tr>
	  	<td><%= f.label :customer_name_like, "Cliente" %></td>
	  	<td><%= f.text_field :customer_name_like, :size => 75 %></td>
		<%= f.hidden_field :customer_id_equals %>
	  </tr>
  	  <tr>
		<td><%= f.label :tags, "Tags" %> </td>
		<td><%= text_field_tag :tag_list,'', :size => 75 %></td>
	  </tr>
	  <tr>
		<td>
			<%= f.label "Fechas" %>
		</td>
	  	<td>
			<%= select_tag "tipo_fecha",  options_for_select([["Emitida",1],["Pagada",2]]) %>
			<%= f.text_field :date_gte, :class => "datepicker from_search_date", :style => "margin-left: 10px; width: 132px; margin-right: 10px;" %>
			<%= f.label :date_lte, "-" %>
			<%= f.text_field :date_lte, :class => "datepicker until_search_date", :style => "width: 135px; margin-left: 10px;" %>
		</td>
	  </tr>
	  <tr>
		<td><%= f.label "Con IVA?" %></td>
		<td>
			<span style="margin-right:10px; font-weight: bold">Sí</span><%= f.check_box(:taxed, :checked => false)%>
			<span style="margin-right:10px; margin-left: 10px;font-weight: bold">No</span><%= f.check_box(:untaxed, :checked => false)%>
		</td>
	  </tr>
  </table>
  <%= f.submit "Buscar" %>
<% end -%>
</fieldset>
