
	<!-- Busqueda directa x Numero de Factura -->
	<% form_for @search, :url => {:action => "search" } do |f| -%>
		<!-- <tr>
					<td><%= f.label "Estado" %></td>
					<td>
						<ul>
							<li><%= f.check_box(:draft_invoice)%><%= f.label "Borrador" %></li>
							<li><%= f.check_box(:open_invoice)%><%= f.label "Activas" %></li>
							<li><%= f.check_box(:due_invoice)%><%= f.label "Vencidas" %></li>
							<li><%= f.check_box(:close_invoice)%><%= f.label "Pagadas" %></li>
						</ul>
					</td>
				</tr> -->
	 	<%= f.label :customer_name_like, "Cliente" %><br/>
	 	<%= f.text_field :customer_name_like %> <br/>
	 	<%= f.label :date_gte, "Desde" %><br/>
	 	<%= f.date_select :date_gte, :default => {:year => Date.today.year - 1}, :discard_day => true %> <br/>
	 	<%= f.label :date_lte, "Hasta"%><br/>
	 	<%= f.date_select :date_lte, :default => {:month => Date.today.month + 1}, :discard_day => true %> <br/>
    	<%= f.submit "Buscar" %>
	<% end -%>
