<fieldset>
<!-- Busqueda directa x Numero de Factura -->
<% form_for search, :url => {:action => "search" } do |f| -%>
  <table class="search">
	  <tr>
	  	<td><%= f.label :customer_name_like, "Cliente" %></td>
	  	<td><%= f.text_field :customer_name_like %></td>
	  </tr>
  	  <tr>
		<td></td>
		<td>
			<%= f.check_box(:taxed, :checked => true)%><%= f.label "Afecta" %>
		</td>
	  </tr>
	  <tr>
		<td><%= f.label :date_gte, "Desde" %></td>
		<td><%= f.text_field :date_gte, :class => "datepicker" %>
	  </tr>
	  <tr>
	  	<td><%= f.label :date_lte, "Hasta" %></td>
		<td><%= f.text_field :date_lte, :class => "datepicker" %>
	  </tr>
  </table>
  <%= f.submit "Buscar" %>
<% end -%>
</fieldset>
