<fieldset>
<% form_for search, :url => {:action => "search" } do |f| -%>
  <table class="search">
	  <tr>
	  	<td><%= f.label :customer_name_like, "Cliente" %></td>
	  	<td><%= f.text_field :customer_name_like, :class => "larger", :style => "width: 400px" %></td>
		<%= f.hidden_field :customer_id_equals %>
	  </tr>
  	  <tr>
		<td><%= f.label :tags, "Tags" %> </td>
		<td><%= text_field_tag :tagged_with, params[:tagged_with], :style => "width: 300px" %></td>
	  </tr>
	  <tr>
		<td>
			<%= f.label "Fecha Emisión" %>
		</td>
	  	<td>
			<%= f.text_field :date_gte, :class => "datepicker from_search_date", :style => "margin-right: 10px;" %>
			<%= f.label :date_lte, "-" %>
			<%= f.text_field :date_lte, :class => "datepicker until_search_date", :style => "margin-left: 10px;" %>
		</td>
	  </tr>
	  <tr>
		<td><%= f.label "Con IVA?" %></td>
		<td>
			<span style="margin-right:10px; font-weight: bold">Sí</span><%= f.check_box(:taxed, :checked => false)%>
			<span style="margin-right:10px; margin-left: 10px;font-weight: bold">No</span><%= f.check_box(:untaxed, :checked => false)%>
		</td>
	  </tr>
  </table>
  <%= f.submit "Buscar" %>

<% end -%>

</fieldset>
