<div class="invoice_status span-9">
	<%= invoice_state_link  nil, "Todas" %> |
		<%= invoice_state_link "due", "Vencidas", 5 %> |
		<%= invoice_state_link "draft", "Borrador ", 1 %> |
		<%= invoice_state_link "open", "Activas ", 2 %> |
		<% if params[:action] == "search" %>
			<%= invoice_state_link "close", "Pagadas ", 3 %> |
			<%= invoice_state_link "cancel", "Anuladas", 4 %>
		<% else %>
			<%= invoice_state_link "close_index", "Pagadas ", 3 %>
		<% end %>
	<br/>	
</div>