<div class="last">
  <div class="span-5">
    <h2>Facturas</h2>
  </div>
  <div class="last right">
	<div id="number_search">
	<% form_for @search, :url => {:action => "search" } do |f| -%>
	  <%= f.text_field :number_equals %>
	<% end %>
	</div>
    <span id="show_filter" class="searchLink"> <%= link_to_function "Búsqueda Avanzada", "display_invoice_filter()" %>  </span>
  </div>
</div>
<div id="invoice_filter" class="span-19 last" style="display: none;">
	<%= render :partial => "search", :locals => {:search => @search} %>
</div>

  <% if @invoices.nil? %>
    <div class="empty last">
	
	  	<h3>Aún no ha creado facturas.</h3>
	<p>
	Con Folio es más fácil facturar a sus clientes. Si comenzó su proyecto con una cotización, puede fácilmente convertirla en factura, y también puede crearlas desde cero. Luego puede agregar notas, comentarios y recibir pagos, todo desde un sólo lugar!
</p>

	  <div id="newCustomer" class="new">
	    <%= link_to "Nueva Factura", new_invoice_path %>	
	  </div>
	</div>
  <% else %>
		
        <div class="span-19 last prepend-top">
			<div class="last">
					<%= link_to "Todas ", invoices_path %> |
					<%= invoice_state_link ("due", "Vencidas", 5)%> |
					<%= invoice_state_link "draft", "Borrador ", 1 %> |
					<%= invoice_state_link "open", "Activas ", 2 %> |
					<%= invoice_state_link "close", "Pagadas ", 3 %>
					<br/>
			 </div>
			<div id="reload_<%= @status %>">
            <%= render :partial => "invoices", :locals => {:status => @status, :invoices => @invoices} %>		
	     	</div>

        </div>
   
  <% end %>