<div class="last">
  <div class="span-5">
    <h2>Facturas</h2>
  </div>
  <div class="last right">
    <% form_tag invoices_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil %>
    <% end %>
  </div>
</div>

<% if params[:search] && !params[:search].blank? %>
  <div class="span-19 last prepend-top">
    <% if @invoices.size < 1 %>
      <h3>No se encontraron resultados. <%= link_to " Volver...", invoices_path() %></h3>
    <% else %>
      <h3>Resultados</h3>

      <table class="invoice_list open">
        <% status ="" %>
        <%= render :partial => "invoices_header", :locals => {:state => status} %>
        <%= render :partial => "invoices", :collection => @invoices ,
          :as => :invoice, :spacer_template => "invoice_items_divider" %>
      </table>

    <%end%>

  </div>

<% else %>
  <% if @invoices.nil? %>
    <div class="empty last">
	
	  	<h3>Aún no ha creado facturas.</h3>
	<p>
	Con Folio es más fácil facturar a sus clientes. Si comenzó su proyecto con una cotización, puede fácilmente convertirla en factura, y también puede crearlas desde cero. Luego puede agregar notas, comentarios y recibir pagos, todo desde un sólo lugar!
</p>

	  <div id="newCustomer" class="new">
	    <%= link_to "Nueva Factura", new_invoice_path %>	
	  </div>
	</div>
  <% else %>
    <!-- Arreglo con tipos de facturas -->
    <% invoices_type = [["draft", "Borrador"], ["due", "Vencidas"], ["open", "Activas"], ["close", "Pagadas este mes"]] %>
    <% invoices_type.each do |type|   %>
      <% status, title = type[0], type[1] %>
      <% instance_variable_set("@invoices_type", instance_variable_get("@invoices_#{status}")) %>
      <% unless @invoices_type.size < 1 %>

        <div class="span-19 last prepend-top" id="<%= status  %>">
          <h3><span class="<%= status %>_title "><%= title %> </span></h3>
		  <div class="paginate last">
		    <%= will_paginate @invoices_type, :next_label => "Siguiente »", 
									:previous_label => "« Anterior", :params => {:anchor => status} %>
		  </div>
          <table class="invoice_list <%= status %> ">

            <%= render :partial => "invoices_header", :locals => {:state => status} %>

            <%= render :partial => "invoices", :locals => {:state => status},:collection => @invoices_type ,
              :as => :invoice, :spacer_template => "invoice_items_divider" %>

          </table>

          <div style="text-align:right; border-top: #000 solid 2px; " class="last">
            <strong>Total: <%= number_to_currency(@invoices_type.sum(&:total),
                :unit => "$", :delimiter => ".", :precision => 0) %></strong>
          </div>

        </div>
      <% end %>
    <%  end %>
  <% end %>
<%end%>