<% unless current_account.have_invoices? %>
    <div class="empty last">
	
	  	<h3>Aún no ha creado facturas.</h3>
	<p>
	Con Folio es más fácil facturar a sus clientes. Si comenzó su proyecto con una cotización, puede fácilmente convertirla en factura, y también puede crearlas desde cero. Luego puede agregar notas, comentarios y recibir pagos, todo desde un sólo lugar!
</p>

	  <div class="big_button empty_records">
	    <%= link_to "Nueva Factura", new_invoice_path, :class => "submit_action" %>	
	  </div>
	</div>
  <% else %>

<div class="last">

	<%= render :partial => "invoice_index_header", 
		:locals => {:invoices => @invoices, :date_gte => @date_gte, :date_lte => @date_lte} %>

</div>
<div id="invoice_filter" class="span-19 last" style="display: none;">
	<%= render :partial => "search", :locals => {:search => @search} %>
</div>
		
        <div class="span-19 last prepend-top">
			<%= render :partial => "status_menu" %>
			
			<%= render :partial => "shared/sort_combo_box" %>
			
			<div id="reload_<%= @status %>" class="last">
            <%= render :partial => "invoices", :locals => {:status => @status, :invoices => @invoices} %>		
	     	</div>

        </div>
   
  <% end %>