<div class="last">
  <div class="span-5">
    <h2>Facturas</h2>
  </div>
  <div class="last right">
	<div id="number_search">
	<% form_for @search, :url => {:action => "search" } do |f| -%>
	  <%= f.text_field :number_equals %>
	<% end %>
	</div>
    <span id="show_filter" class="searchLink"> <%= link_to_function "Búsqueda Avanzada", "display_invoice_filter()" %>  </span>
  </div>
</div>
<div id="invoice_filter" class="span-19 last" style="display: none;">
	<%= render :partial => "search", :locals => {:search => @search} %>
</div>

  <% if @invoices.nil? %>
    <div class="empty last">
	
	  	<h3>Aún no ha creado facturas.</h3>
	<p>
	Con Folio es más fácil facturar a sus clientes. Si comenzó su proyecto con una cotización, puede fácilmente convertirla en factura, y también puede crearlas desde cero. Luego puede agregar notas, comentarios y recibir pagos, todo desde un sólo lugar!
</p>

	  <div id="newCustomer" class="new">
	    <%= link_to "Nueva Factura", new_invoice_path %>	
	  </div>
	</div>
  <% else %>
    <!-- Arreglo con tipos de facturas -->
    <% invoices_type = [["draft", "Borrador"], ["due", "Vencidas"], ["open", "Activas"], ["close", "Pagadas este mes"]] %>
    <% invoices_type.each do |type|   %>
      <% @status, title = type[0], type[1] %>
      <% instance_variable_set("@invoices", instance_variable_get("@invoices_#{@status}")) %>
      <% unless @invoices.size < 1 %>

        <div class="span-19 last prepend-top" id="<%= @status  %>">
          <h3><span class="<%= @status %>_title "><%= title %></span></h3>
		
			<div id="reload_<%= @status %>">
            <%= render :partial => "invoices", :locals => {:status => @status, :invoices => @invoices} %>		
		</div>

        </div>
      <% end %>
    <%  end %>
  <% end %>