<div class="invoice_title">
<h2>Factura <%= @invoice.number %> - 
	<span class="invoice_title"><%= @invoice.subject %></span>
</h2>	
		<%= render :partial => "edit_invoice_tags", :locals => {:invoice => @invoice} %>
		
</div>

<div class="last">

  <div class="span-9 customer_info">
    <% customer = @invoice.customer %>
    <span class="customer_name"><%= link_to customer.name, customer_path(customer) %></span><br/>
	<%= customer.rut %><br/><br/>
  </div>
  <div class="invoice_info last">
    <span><%= l @invoice.date, :format => :long %></span><br/>
    <% if @invoice.due? %>
     <span>Vence <%= l @invoice.due, :format => :long %></span>
    <% end %>
  </div>

  <div class="prepend-top last">

    <table id="newInvoiceItems">
      <tr>
        <th class="qtyHeader">Cantidad</th>
        <th class="unitHeader">Unidad</th>
        <th class="descriptionHeader">Descripción</th>
        <th class="priceHeader">Precio</th>
        <th class="totalHeader">Total</th>
      </tr>

      <%= render :partial => "invoice_items_show", :collection => @invoice.invoice_items ,
        :as => :invoice_item, :spacer_template => "invoice_items_divider" %>

    </table>

  </div>

  <hr/>

  <div class="prepend-12 span-6 last">

    <table id="totals">
      <tr>
        <td class="netLabel label">Neto</td>
        <td class="netPrice price_value "><%= number_to_currency(@invoice.net, :unit => "$",
              :delimiter => ".", :precision => 0) %> </td>
      </tr>
        <tr>
          <td class="taxLabel label">IVA</td>
          <td class="price_value"><%= number_to_currency(@invoice.tax, :unit => "$",
              :delimiter => ".", :precision => 0) %></td>
        </tr>
      <tr>
        <td class="totalLabel label">Total</td>
        <td class="price_value totalPrice"><%= number_to_currency(@invoice.total, :unit => "$",
            :delimiter => ".", :precision => 0) %> </td>
      </tr>
    </table>
  </div>

	<% unless @invoice.comment.blank? %>
  		<div class="span-18 last invoice_extra_info">
    		<h3>Información</h3>
    		<hr/>
    		<%= textarea_display(@invoice.comment) %>
  		</div>
	<% end %>

  <br/>
  <div class="comments span-18 prepend-top last">
    <div class="span-18 comments_header">
      <h3>Comentarios</h3>
    </div>
    
	<div class="span-18 comments_body">
      <%= render :partial => "comments/comment", :collection => @invoice.comments ,
        :as => :comment, :spacer_template => "comments/comment_divider" %>
	
	<hr/>
	<div id="add_comment"  class="span-18 last">
      <%= render :partial => "comments/new_comment", :locals => {:invoice_id => @invoice.id} %>
    </div>
	</div>
	
  </div>

</div>
