<h2>Factura <%= @invoice.number %> </h2>
<div class="span-19 last">

  <div class="span-8 customer_info">
    <% customer = @invoice.customer %>
    <span class="customer_name"><%= link_to customer.name, customer_path(customer) %></span><br/>
    <%= customer.address %><br/>
    <%= customer.state.titleize %>, <%= customer.city.titleize %> <br/>
    <%= customer.country.titleize %> <br/>
    <% unless customer.phone.empty? %>
      <strong>Teléfono:</strong> <%= number_to_phone(customer.phone)  %><br/>
    <% end %>
    <% unless customer.fax.empty? %>
      Fax: <%= customer.fax  %><br/>
    <% end %>
    <% unless customer.url.empty? %>
      <%= link_to customer.url, "http://"+customer.url  %><br/>
    <% end %>

  </div>
  <div class="invoice_info last">

    <%= l  @invoice.date, :format => :short %><br/>
    <%  unless @invoice.due.nil? %> <br/>
      Vencimiento <%= l @invoice.due, :format => :short %>
    <% end %>

  </div>

  <div class="span-19 prepend-top last">

    <table id="newInvoiceItems">
      <tr>
        <th class="qtyHeader">Cantidad</th>
        <th class="unitHeader">Unidad</th>
        <th class="descriptionHeader">Descripción</th>
        <th class="priceHeader">Precio</th>
        <th class="totalHeader">Total</th>
      </tr>

      <%= render :partial => "invoice_items_show", :collection => @invoice.invoice_items ,
        :as => :invoice_item, :spacer_template => "invoice_items_divider" %>

    </table>

  </div>

  <hr/>

  <div class="span-6 prepend-13 last">

    <table class="totals">
      <tr>
        <td class="netLabel">Neto</td>
        <td><div class="readonly netLabel"><%= number_to_currency(@invoice.net, :unit => "$",
              :delimiter => ".", :precision => 0) %> </div> </td>
      </tr>
      <% unless @invoice.tax.nil? %>
        <tr>
          <td class="taxLabel">IVA</td>
          <td class="readonly"><%= number_to_currency(@invoice.tax, :unit => "$",
              :delimiter => ".", :precision => 0) %></td>
        </tr>
      <% end %>
      <tr>
        <td class="totalLabel">Total</td>
        <td class="readonly totalLabel"><%= number_to_currency(@invoice.total, :unit => "$",
            :delimiter => ".", :precision => 0) %> </td>
      </tr>
    </table>
  </div>

  <div class="last">
    <h3>Comentarios</h3>
    <hr/>
    <%= @invoice.comment %>

  </div>
  <br/>
  <div class="span-19 prepend-top  history last">
    <div class="span-10">
      <h3>Historial y Notas</h3>
    </div>
    <div id="add_comment_link" class="span-8" style="text-align: right;">
      <span class="addLink"> <%= link_to_function "Agregar Nota", "display_add_comment()" %>  </span>
    </div>
    <hr />
    <div id="add_comment" style="display: none;" class="span-19 last">
      <%= render :partial => "histories/new_history", :locals => {:invoice_id => @invoice.id} %>
      <hr/>
    </div>
    <% if @invoice.histories.size < 1 %>
      <br/>
    <% end %>
    <div class="span-19 last">

      <%= render :partial => "history", :collection => @invoice.histories.reverse! ,
        :as => :history, :spacer_template => "history_divider" %>

    </div>
  </div>

</div>
