<% form_for @user, :html => { :multipart => true } do |f| -%>
<%= f.error_messages :class => "error" %>
  
<fieldset>
	<div class="avatar"style="margin-left: 550px; margin-top: 10px; position: absolute;">
		<%= image_tag @user.avatar.url(:medium) %>
	</div>

	<table>
		<tr>
			<td><%= f.label :name, "Nombre" %></td>
			<td><%= f.text_field :name, :class => "input_large" %></td>
		</tr>
		<tr>
			<td><%= f.label :email, "Email" %></td>
			<td><%= f.text_field :email, :class => "input_large" %></td>
		</tr>
		<tr>
			<td><%= f.label :avatar, "Foto" %></td>
			<td><%= f.file_field :avatar %></td>
		</tr>
		<tr>
			<td><%= f.label :password, "Contraseña" %></td>
			<td><%= f.password_field :password, :class => "input_large" %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Confirmar Contraseña" %></td>
			<td><%= f.password_field :password_confirmation, :class => "input_large" %></td>
		</tr>
	</table>
</fieldset>
<%= f.hidden_field :account_id, :value => current_account.id %>
<%= f.submit "Guardar" %>
<%= link_to "Cancelar", account_path(current_account.id)%>
<% end -%>