<div id="logo">
  <img src="/images/logo.png" alt="Logo" />
</div>
<div id="navBar">
  <%= link_to "Dashboard", dashboard_path %>
  <%= link_to "Facturas", invoices_path %>
  <%= link_to "Clientes", customers_path %>
</div>
<div id="preferences_bar">
	<%= link_to "mi cuenta", edit_user_path(current_user) %> |
	<%= link_to "mi empresa", account_path(current_account) %> |
	<%= link_to "salir", logout_path %>
</div>
