<div class="customer span-19 last">
  <div class="customerHeader span-19">
    <% if params[:action].eql?("index") %>
	  <br/>
      <div class="customerName span-9 last"><%= link_to "#{customer.name}", customer %></div>
    <% elsif params[:action].eql?("show") %>
      <div class="customerName span-18 last"><h2><%= customer.name %></h2></div>
    <% end %>
	<% unless params[:action] == "show" %>
	    <div class="customerActions span-18 last">
	      <span class="editLink">
	        <%= link_to "Editar", edit_customer_path(customer) %> </span>
	      <span class="addLink">
	        <%= link_to "Nuevo Contacto", new_customer_contact_path(customer) %> </span>
	      <span class="newLink">
	        <%= link_to "Nueva Factura", new_customer_invoice_path(customer) %> </span>
	    </div>
	<% end %>
  </div>
  <hr/>
  <br/>
  <div class="customerDetails span-5">
	<%= customer.rut %><br/>
    <%= customer.address %><br/>
    <%= customer.state.titleize %>, <%= customer.city.titleize %> <br/>
    <%= customer.country.titleize %> <br/>
    <% unless customer.phone.empty? %>
      <strong>Teléfono:</strong> <%= number_to_phone(customer.phone)  %><br/>
    <% end %>
    <% unless customer.fax.empty? %>
      Fax: <%= customer.fax  %><br/>
    <% end %>
    <% unless customer.url.empty? %>
      <%= link_to customer.url, "http://"+customer.url  %><br/>
    <% end %>
  </div>
  <% if customer.contacts.size > 0 %>
    <div class="customerContacts span-13 last">
      <% n = 1 %>
      <table>

        <% customer.contacts.each do |contact| %>
          <%  if (n % 2) > 0 %>
            <tr>
              <%= render :partial => "contact_info", :locals => {:contact => contact} %>
            <% else %>
              <%= render :partial => "contact_info", :locals => {:contact => contact} %>
            </tr>
          <% end %>

          <% n+=1 %>
        <% end %>
      </table>
    </div>
  <% else %>
  <div class="span-13 last empty" style="margin-top: -10px;">
      <p>Cliente sin contactos<br/>
        <%= link_to "Agregue uno ahora", new_customer_contact_path(customer) %>
      </p>
  </div>
  <% end %>

</div>
