<fieldset>
    <table>
      <tbody>
        <tr>
          <td><span class="required"><%= customer.label "Nombre" %></span></td>
          <td><%= customer.text_field :name, :autocomplete => "off", :class => "input_large"  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><span class="required"><%= labelUp_tag "R.U.T."  %></span></td>
          <td><%= customer.text_field :rut  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><span class="required"><%= customer.label "Dirección"  %></span></td>
          <td><%= customer.text_field :address  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><span class="required"><%= customer.label "Ciudad"  %></span></td>
          <td><%= customer.text_field :city  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td ><span class="required"><%= customer.label "Comuna"  %></span></td>
          <td><%= customer.text_field :state  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><%= customer.label "País"  %></td>
          <td><%= customer.text_field :country  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><%= customer.label "Teléfono"  %></td>
          <td><%= customer.text_field :phone  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><%= customer.label "Fax"  %></td>
          <td><%= customer.text_field :fax  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><%= customer.label "Sitio Web"  %></td>
          <td><%= customer.text_field :url  , :class => "input_large" %> </td>
        </tr>
        <tr>
          <td><%= customer.label "Giro"  %></td>
          <td><%= customer.text_field :industry  , :class => "input_large" %> </td>
        </tr>
      </tbody>
    </table>
  <div  style="text-align: right; font-style: italic"><span class="required">Campo obligatorio</span></div>
  </fieldset>
