<% customer = @customer unless @customer.nil? %>

<% if params[:action].eql?("new") %>
  <%= sidebar_big_button("cancel", "customer", "Cancelar") %>

  <!--Customer#Show -->
<% elsif params[:action].eql?("show") %>
  <div class="span-4 last">
	<%= sidebar_big_button("submit", "customer", "Nueva Empresa") %>

      <ul class="toolbox secondary">
		<li id="edit_invoice"><%= link_to "<strong>Editar</strong> empresa", edit_customer_path(customer) %></li>
        <li id="add_link"><%= link_to "<strong>Agregar</strong> contacto", new_customer_contact_path(customer) %></li>
		<% if customer.invoices.size == 0 %>
		<li id="delete_invoice"><%= link_to "<strong>Borrar</strong> empresa", customer,
              :confirm => "Está seguro?", :method => :delete %></li>
        <% end %>

      </ul>

    </div>



<% elsif params[:action].eql?("edit") %>
  <div class="big_button">
    <%= link_to "Cancelar", customer_path(customer), :class => "cancel_action" %>
  </div>
<% else %>
  <% if params[:error] %>
	<%= sidebar_big_button("cancel", "customer", "Cancelar") %>
  <% else %>
  <%= sidebar_big_button("submit", "customer", "Nueva Empresa") %>
  <% end %>
<% end %>

