<% if @customers.size < 1 %>

  	<div class="empty last">
	
	  	<h3>Aún no ha creado clientes.</h3>
		<p>
	  	  Aquí es donde agrega clientes. Registre una empresa y agregue contactos a ella.
		  No podrá facturar o enviar cotizaciones sino tiene clientes, así que vamos a crear algunos ya!
		</p>

	  <div id="newCustomer" class="new">
	    <%= link_to "Nuevo Cliente", new_customer_path %>	
	  </div>
	</div>

<% else %>

<h2>Clientes</h2>

<div class="last" style="text-align: right">
  <ul class='customernav'>
    <li><%= link_to "Todos", customers_path %> </li>
    <%- Customer.pagination_letters(current_account).each do |letter| -%>
      <li><%= link_to(letter, :letter => letter) %></li>
    <%- end -%>
  </ul>
</div>

  <% if params[:letter].blank? %>
    <% @customers.each do |customer| %>
      <%= render :partial => "customer_resume", :locals =>  {:customer => customer} %>
    <% end %>
  <% else %>
    <% @customer_alphabetical.each do |customer| %>
      <%= render :partial => "customer_resume", :locals =>  {:customer => customer} %>
    <% end %>
  <% end %>


<% end %>

