<% unless current_account.have_customers? %>

  	<div class="empty last">
	
	  	<h3>Aún no ha creado clientes.</h3>
		<p>
	  	  Aquí es donde agrega clientes. Registre una empresa y agregue contactos a ella.
		  No podrá facturar o enviar cotizaciones sino tiene clientes, así que vamos a crear algunos ya!
		</p>

	  	<div style="width: 200px; margin: 0 auto 0 auto; padding-bottom: 20px;">
	  		<%= sidebar_big_button("submit", "customer", "Agregar Cliente") %>
		</div>
	</div>

<% else %>

<h2>Clientes</h2>

<div class="last" style="text-align: right; margin-top: -20px;">
  <ul class='customernav'>
    <li><%= link_to "Todos", customers_path %> </li>
    <%- Customer.pagination_letters(current_account).each do |letter| -%>
      <li><%= link_to(letter, :letter => letter) %></li>
    <%- end -%>
  </ul>
</div>

  <% if params[:letter].blank? %>
    <% @customers.each do |customer| %>
      <%= render :partial => "customer_resume", :locals =>  {:customer => customer} %>
    <% end %>
  <% else %>
    <% @customer_alphabetical.each do |customer| %>
      <%= render :partial => "customer_resume", :locals =>  {:customer => customer} %>
    <% end %>
  <% end %>


<% end %>

