<a ref="#" class="addLink" id="show_attachment_form">Subir Archivo</a>
<div id="attachment_upload_dialog" style="display: none">
	
	<% form_for document, :html => { :multipart => true } do |f| -%>
				<div id="attachment_upload_dialog_step1">
					<h3><strong>Selecciona el archivo que deseas subir</strong></h3>
			  		<%= f.file_field :attachment %>
				</div>	
			
				<div id="attachment_upload_dialog_step2" style="display: none">
					<span id="attachment_file_name"></span>
					<p>
						<strong>Descripción opcional</strong></br>
						<%= f.text_field :description %>
					</p>
					<%= f.hidden_field :account_id, :value => current_account.id %>
					  <%= f.hidden_field :user_id, :value => current_user.id %>
					  <%= f.hidden_field :invoice_id, :value => invoice.id %>
					  
				</div>
				<%= f.submit "Subir archivo" %>
				<%= link_to "Cancelar", invoice_path(@invoice), :id => "cancel_invoice_attachment" %>
	<% end %>
</div>
<% if invoice.documents.size < 1%>
	<script>
		$(document).ready(function() {
			$("#show_attachment_form").hide();
			$("#attachment_upload_dialog").show();
		});
	</script>
<% end %>