<div id="network_graph" class="last" >
        <h3>Desempeño últimos 12 meses</h3>
                <% high_chart ("year_sales", @year_sales)  do |c| %>
					<%= "options.chart.width = 700" %>
					<%= "options.chart.height = 250" %>
					<%= "options.tooltip.useHTML = true"%>
					<%= "options.plotOptions.column.cursor = 'pointer'"%>
					<%= "options.tooltip.formatter = function() {
						var date = new Date(this.point.name.replace(/-/g, '/'));
						var start_date = $.datepicker.formatDate('yy-mm', date)+'-01';
						var end_date = $.datepicker.formatDate('yy-mm-dd', 
										new Date((new Date(date.getFullYear(), date.getMonth()+1))-1));
						var date_search_string = 'search[:date_gte]='+start_date+'&search[:date_lte]='+end_date;
						var total = number_to_currency(this.y);
						var header = $.datepicker.formatDate('M/yy', date) +': '+total;
						link = '/invoices/search?'+date_search_string;
						return header; }" %>
					<%= "options.legend.layout = 'horizontal' " %>
					<%= "options.legend.borderWidth = 0 " %>
					<%= "options.yAxis.title.text = 'Total en pesos' "%>
					<%= "options.plotOptions.column.events.click = function(){
							window.location.href = link;
					} " %>

					<%= "options.plotOptions.column.borderColor = '#000'" %>
					<%= "Highcharts.setOptions({
					            colors: ['#4572a7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572',     '#FF9655',              '#FFF263', '#6AF9C4']
					          });" %>
					
				<% end %>
</div>