<table class="dashboard_box">
	<tr>
		<th>Indicadores</th>
		<th></th>
	</tr>
	<% %w(uf dolar euro utm).each do |i| %>
		<tr>
			<td><%= i.upcase %></td>
			<td><%= number_to_chilean_currency(@indicadores.send(i)) %></td>
		</tr>
	<% end %>
</table>

<div class="dashboard_box">
		<header><strong>Facturas por vencer</strong></header>
		<table>
	<% @account.invoices_due_this_week[0..5].each do |invoice| %>
		<tr>
			<td>
				<strong><%= number_to_chilean_currency(invoice.total) %></strong>
				<br/>
				<span class="draft_result"><%= l invoice.due, :format => :default  %></span>
			</td>
			<td style="padding-right: 5px;">
				<%= link_to "#{invoice.subject}", invoice_path(invoice)  %> <br/>
				<% if invoice.has_tags? %>
					<span class="draft_result tags">(<%= print_tag_list(invoice) %>)</span>
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
	<div style="text-align: center; margin-top: -5px">
		<%= link_to_invoices_due_this_week %>
	</div>
</div>