<div class="main-feature masthead">
	<div class="container">
		<div id="hero" class="row text-center">
			<div class="span6">
				<h1>
					Mejora la <strong>cobranza</strong> de tu negocio
				</h1>
				<h2>
					Usando Folio, profesionales independientes y pequeños empresarios pueden administrar fácilmente la <strong>cobranza</strong> de sus negocios y reducir la morosidad de sus clientes. 
				</h2>
				<div style="margin-top: 30px">
					<%= link_to "Pruébalo gratis >", signup_path(), :class => "btn btn-large btn-success" %>
					
				</div>
			</div>
	
			<div class="span5" style="margin-left:50px; margin-top:0px">
				<%= image_tag "main_feature.png", :title => "Folio Dashboard", :class => "hero-img" %>
			</div>
		</div>
	</div>
</div>


<div class="description">
	<div class="text-center features container">
		
		<h1 class="section_header">
            <hr class="left visible-desktop">
            <span>Características</span>
            <hr class="right visible-desktop">
		</h1>
		
  		<div class="row">
			<div class="span4 feature-box">
				<div class="span4 feature-img">
					<%= image_tag "website/new_invoice.png", :title => "Folio Dashboard"%>
				</div>
				<h2>Registra tus ventas</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>
		
			<div class="span4 feature-box">
				<div class="span4 feature-img">
					<%= image_tag "website/invoice_history.png", :title => "Folio Dashboard"%>
				</div>
				<h2>Actividad de cobranza</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>
			
			<div class="span4 feature-box">
				<div class="span4 feature-img" style="background: #eee;">
					<%= image_tag "website/indicators.png", :title => "Folio Dashboard"%>
				</div>
				<h2>Indicadores claves en tiempo real</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>
 		</div>

		<div class="row">
			<div class="span4 feature-box">
				<div class="span4 feature-img">
					<%= image_tag "website/year_results.png", :title => "Folio Search"%>
				</div>
				<h2>Información relevante para tomar decisiones</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<div class="span4 feature-img">
					<%= image_tag "website/folio_adjuntos.png", :title => "Folio Dashboard"%>
				</div>
				<h2>Todos los documentos del negocio</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<div class="span4 feature-img">
					<%= image_tag "website/laptopUser.jpg", :title => "Folio Dashboard", :style=> "margin-top: 5px"%>
				</div>
				<h2>De emprendedor a emprendedor</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>
		</div>
		
		<div style="margin-top: 30px">
			<%= link_to "Comienza ahora<br/><small>(30 días gratis)</small>".html_safe, signup_path(), :class => "btn btn-huge btn-success" %>
			<p style="margin-top: 3px;"><small>No necesitas T. de Crédito</small></p>
		</div>
	</div>
	
	<div id="faq" class="container text-center features faq">
		<h1 class="section_header">
	        <hr class="left visible-desktop" style="width: 25%">
	        <span>FAQs</span>
	        <hr class="right visible-desktop" style="width: 25%">
		</h1>

		<div class="row">
			<div class="span4 feature-box">
				<h2>¿Qué necesito para usar Folio?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<h2>¿Cuánto espacio puedo usar?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<h2>¿Puedo crear más de un usuario para mi empresa?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>
		</div>

		<div class="row">
			<div class="span4 feature-box">
				<h2>¿Qué tan seguro es?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<h2>¿Dónde se guarda nuestra información?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

			<div class="span4 feature-box">
				<h2>¿Quién está detrás de Folio?</h2>
				<p>Cada vez que realices una venta puedes registrala en Folio y hacer seguimiento a la cobranza.</p>
			</div>

		</div>
	</div>

	<div id="price" class="container text-center features price">
		<h1 class="section_header">
	        <hr class="left visible-desktop">
	        <span>Precio</span>
	        <hr class="right visible-desktop">
		</h1>
	</div>
	
	
	
</div>

<div class="row footer">
</div>
