<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>                                                                                                             
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Folio</title>

    <!-- Framework CSS -->
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <!-- End Framework CSS -->

    <!-- Stylesheet -->
	<%= stylesheet_link_tag "factura", :media => "all" %>
	<%= stylesheet_link_tag "public", :media => "all" %>



  </head>
  <body>
	<div id="header">
	<div id="logo">
	 <%= link_to "nada", public_root_url(:subdomain => false), :id => "logo_link" %>
	</div>
	</div>
	
    <div class="container" style="min-height: 400px;">
        <%= yield %>      
    </div>
  </body>
</html>

