<!DOCTYPE html>
<html>                                                                                                             
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Folio</title>

    <!-- Framework CSS -->
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- End Framework CSS -->

    <!-- Stylesheet -->
	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    <%= stylesheet_link_tag "factura", :media => "all" %>
	<%= stylesheet_link_tag "public", :media => "all" %>

	<%= javascript_include_tag "jquery" %>
  </head>
	<body style="zoom: 1;">
		<%= render "shared/header_public" %>
		<%= yield %>
	</body>
</html>