<!DOCTYPE html>
<html>                                                                                                             
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Folio: Software de Cobranza Gratis para Pymes</title>
	<meta name="description" content="Folio es una aplicación web de cobranza para PyMES y Profesionales independientes. Sólo necesitas un navegador web para mejorar tu cobranza.">

    <!-- Framework CSS -->
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- End Framework CSS -->

    <!-- Stylesheet -->
	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    <%= stylesheet_link_tag "factura", :media => "all" %>
	<%= stylesheet_link_tag "public", :media => "all" %>

	<%= javascript_include_tag "jquery" %>
  </head>
	<body style="zoom: 1;">
		<%= render "shared/header_public" %>
		<%= yield %>
		
	<!-- Google -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42196204-1', 'folio.cl');
	  ga('send', 'pageview');

	</script>
		
	</body>
</html>