<!DOCTYPE html>
<html>                                                                                                             
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Folio</title>

    <!-- Framework CSS -->
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <!-- End Framework CSS -->

    <!-- Stylesheet -->
    <%= stylesheet_link_tag "factura", :media => "all" %>
	<%= stylesheet_link_tag "public", :media => "all" %>

	<%= javascript_include_tag "jquery" %>
  </head>
	<body>
		<div id="wrapper">
		<div id="header">
			<%= render "shared/header_public" %>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<!--
		<div id="fake_footer"></div>
		</div>
		<div id="footer">
			
		</div>
		-->
	</body>
</html>