<h2>Actualizar <%= current_account.name %></h2>
<% form_for @account, :html => { :multipart => true } do |f| -%>
<%= f.error_messages :class => "error" %>
	<fieldset>	  
		<table>
			<tr>
				<td><%= f.label "Nombre" %></td>
				<td><%= f.text_field :name %>
			</tr>
			<tr>
				<td><%= f.label "Subdominio" %></td>
				<td><%= f.text_field :subdomain %><span style="font-size: 19px;">.folio.cl</span></td>
			</tr>
			<tr>
				<td><%= f.label :rut, "RUT" %></td>
				<td><%= f.text_field :rut %>
			</tr>
			<tr>
				<td><%= f.label :address, "Dirección" %></td>
				<td><%= f.text_field :address %>
			</tr>
			<tr>
				<td><%= f.label :state, "Comuna" %></td>
				<td><%= f.text_field :state %>
			</tr>
			<tr>
				<td><%= f.label :country, "País" %></td>
				<td><%= f.text_field :country %>
			</tr>
			<tr>
				<td><%= f.label :avatar, "Logo" %></td>
				<td><%= f.file_field :avatar %>
			</tr>
		</table>
	</fieldset>
	<%= f.submit "Guardar" %>
	<%= link_to "Cancelar", account_path(@account) %>
<% end -%>


