<div id="register" class="prepend-top span-16 last">
  <% form_for @account do |f| -%>
	<ul id="company-info" class="section">
		<li class="header">
			<span></span>
			<h3>La Empresa</h3>
			<h4>Cuéntanos sobre tu empresa</h4>
		</li>
		<li>
			<span>
				<%= f.label "company_name", "Nombre de la Empresa" %>
				<%= f.text_field :name %>
				<br/>
			</span>
		</li>
		<li class="url">
			<span>
				<%= label_tag "url", "URL de acceso" %>
				<%= f.text_field :subdomain %><strong> .folio.cl</strong>
			</span>
		</li>
		<li class="bottom"></li>
	</ul>
	<% f.fields_for :users do |user_form| %>
	<ul id="user-info" class="section">
		<li class="header">
			<span></span>
			<h3>Tú Cuenta</h3>
			<h4>Usarás esta información para ingresar a Folio</h4>
		</li>
		<li>
			<%= label_tag "name", "Nombre" %>
			<%= user_form.text_field :name %>
		</li>
		<li>
			<%= label_tag "email", "Email" %>
			<%= user_form.text_field :email %>
		</li>
		<li>
			<%= label_tag "password", "Contraseña" %>
			<%= password_field_tag :user %>
		</li>
		<li>
			<%= label_tag "password_confirmation", "Confirmar Contraseña" %>
			<%= password_field_tag :password_confirmation %>
		</li>
		<li class="bottom">
		</li>
	</ul>
	<% end %>
	<br/>
	<%= submit_tag "Registrar", :id => "button-sign-up-now" %>
  <% end -%>
</div>